body {
    background-color: #ffe4ec;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #c2185b;
    margin-bottom: 30px;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.galeria img {
    width: 200px;
    height: auto;
    border: 5px solid #ffc0cb; /* Marco rosa claro */
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}
